{namespace neos=Neos\Neos\ViewHelpers}
{namespace neoscr=Neos\ContentRepository\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
<f:if condition="{items}">
    <f:then>
        <ul>
            <f:for each="{items}" as="item" key="year">
                <li>{year}</li>
                <div>
                    <ul>
                        <f:for each="{item}" as="subItem" key="month">
                            <li>
                                <!-- TODO: use node viewHelper for arguments-->
                                <f:link.action action="show" controller="Frontend\Node" package="TYPO3.Neos" arguments="{node: newsListNode, year: year, month: month}">
                                    <f:format.date format="F">{year}-{month}-01</f:format.date>
                                </f:link.action>
                                <span class="count">({subItem -> f:count()})</span>
                            </li>
                        </f:for>
                    </ul>
                </div>
            </f:for>
        </ul>
    </f:then>
	<f:else>
		<p><f:translate id="noNewsToDisplay" package="Lelesys.News">No news to display</f:translate></p>
	</f:else>
</f:if>