{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\TypoScript\ViewHelpers}
{namespace m=Neos\Media\ViewHelpers}

<div>
	<f:if condition="{thumbnailImage}">
		<figure class="Neos-neos-alignment-left">
			<m:image asset="{thumbnailImage.properties.image}" maximumWidth="{configuration.thumbnailMaxWidth}" maximumHeight="{configuration.thumbnailMaxHeight}" alt="{thumbnailImage.properties.alternativeText}" />
		</figure>
	</f:if>
	<h5><neos:link.node node="{node}">{title}</neos:link.node></h5>
	<p>
		<f:if condition="{dateTime}">
			<span><i><f:format.date format="{configuration.dateFormat}">{dateTime}</f:format.date></i></span>
		</f:if>
		<span>{f:if(condition: '{authorName}', then: ', {f:translate(id: \'by\', package: \'Lelesys.News\')}: {authorName}', else: '')}</span>
		<br />
		{teaserText -> f:format.stripTags() -> f:format.crop(maxCharacters: 100, append: '...')}
		<neos:link.node node="{node}">
			<f:translate id="readMore" package="Lelesys.News">Read more</f:translate>
		</neos:link.node>
	</p>
</div>